body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Serif', serif;
    margin: 0;
}

.first-headline {
    font-size: 50px;
    text-align: center;
    font-weight: 700px;
}

.first-paragraph {
    font-size: 20px
}

.top-part {
    color: white;
    text-align: center;
    padding: 15% 30% 15% 30%;
    background-image: url(images/bi-1.jpg);
    background-position: 100%;
    height: 200px;
    background-size: cover;
}

.donate-button {
    text-decoration: none;
    background-color: orangered;
    padding: 20px 40px;
    border-radius: 10px;
    font-weight: 700px;
    color: white;
}

.second-part {
    margin-top: 100px;
}

.second-headline {
    font-size: 50px;
    text-align: center;
    font-weight: 700px;
}

.second-paragraph {
    font-size: 20px;
    text-align: center;
    padding: 0 30% 0 30%;
}

.card1 {
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    text-align: center;
}

.card-p {
    font-size: 30px;
}

.card-part {
    display: flex;
    justify-content: space-evenly;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 50px;
}

.card-different {
    width: 100px;
    height: 100px;
    background-color: pink;
    text-align: center;
    border: 5px;
}

.card-description {
    color: cornflowerblue;
}

.input-amount {
    text-align: center;
    margin-top: 100px;
}

.third-part {
    margin-top: 2000px;
}

.third-headline {
    font-size: 50px;
    text-align: center;
    font-weight: 700px;
}

hr {
    margin-bottom: 20px;
    margin-left: 440px;
    margin-right: 440px;
}

.third-paragraph {
    font-size: 20px;
    text-align: center;
    padding: 0 30% 0 30%;
}

.Donate-Plan {
    margin-top: 200px;
}